body{
    font-family:  'Courier New', Courier, monospace;
    margin: 0;
    background-color: pink;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;

}
h1{
    font-family:  'Courier New', Courier, monospace; 
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.task-form{
    margin-top: 20px;
}
.task-form input[type="text"]{
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
}

.task-form button{
    padding: 10px 20px;
    font-size: 16px;
    background-color: #b45ba8;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.task-form button:hoover{
    background-color: #a552a1;  
}

.task-item{
    list-style-type: none;
    margin-top: 10px;
}

.task-item span{
    margin-right: 10px;
}

.task-item button{
    background-color: #9b076e;
    color: white;
    border:none;
    border-radius: 50%;
    cursor: pointer;
    margin-left: 10px;

}

.task-item button:hover{
    background-color: #cc0000;
}

